<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quản lý đoàn viên</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark" ,
    style="position:fixed; top: 0; left: 0; right: 0; z-index: 1">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Admin</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link px-3" th:href="@{/users}">Quản lý thông tin</a>
        </li>
        <li class=" nav-item">
          <a class="nav-link px-3" th:href="@{/admin/danh-sach-chi-doan}">Danh sách chi đoàn</a>
        </li>
        <li class=" nav-item">
          <a class="nav-link px-3" th:href="@{/admin/logout}">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </nav>

<br><br>

<div class="container text-center mt-5" style="position: relative">
    <div>
        <h1>Danh sách cán bộ</h1>
    </div>

    <div class="mt-5">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th class="text-center align-middle">Mã đoàn viên</th>
                <th class="text-center align-middle">Họ tên</th>
                <th class="text-center align-middle">Chức vụ</th>
                <th class="text-center align-middle">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="canBo: ${listCanBos}">
                <td class="text-center align-middle" th:text="${canBo.maDoanVien}"></td>
                <td class="text-center align-middle" th:text="${canBo.hoTen}"></td>
                <td class="text-center align-middle" th:text="${canBo.chucVu}"></td>
                <td class="text-center align-middle" th:text="${canBo.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>